[submodule "cryptopp-cmake"]
	path = cryptopp-cmake
	url = https://github.com/abdes/cryptopp-cmake
[submodule "cryptopp"]
	path = cryptopp
	url = https://github.com/weidai11/cryptopp
[submodule "fmt"]
	path = fmt
	url = https://github.com/fmtlib/fmt.git
